<template name="Home">
  <div class="hero">
    <div class="row message-row">
      <div class="small-12 medium-8 columns">
        <h1 class="message-title">
          The Fastest Way to Build
          Mobile Hybrid Apps
        </h1>
        <p class="message-text">
          Orbit is a package that will enable application developers to rapidly
          prototype hybrid mobile apps using the Meteor platform
          and Cordova Package.*
        </p>
        <a href="#" class="git-button"><i class="icon ion-social-github"></i>Star It On GitGub</a>
      </div>
    </div>
  </div>


  <div class="row home-row">
    <div class="small-6 columns">
      <img src="/images/tab-bar-view.png" alt="">
    </div>
    <div class="small-6 columns">
      <h2>Functional Tab Bars.</h2>
      <h2>In Ten Lines.</h2>
      <img src="/images/tab-bar-code.png" class="tab-code" alt="">
    </div>
  </div>
</template>